#travelQuiz {
    margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 500px;
	border-radius: 20px;
	float: left;
}

input {
	margin-bottom: 10px;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}

#afterSubmit {
    visibility: hidden;
    background: #61b6dd;
	padding: 10px 20px 10px 20px;
	width: 500px;
    border-radius: 20px;
    float: left;
	margin-left: 20px;
	font-size: 30px;
}

#picture {
    width: 375px;
	height: 245px;
}